#canvas {
    width: 50%;

}
#online {
    width: 50%;
}
#can{
    position: relative;
}
.site {
    background-image: url("https://i.gifer.com/GXi6.gif") cover;
}
canvas {
    cursor: url(./pencil-128.png), default;
}